@charset "utf-8";
/* 详情页-通用 */
$uicss.met-shownews{padding: 30px 0; background: $bgcolor$; }
$uicss.met-shownews .met-shownews-body{
	background:$bgconcolor$;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
$uicss .border-bottom1,$uicss .border-top1,$uicss .met-page .pagination li a{border-color: $secondcolor$;border-color: $linecolor$;}
$uicss .details-title{padding:20px;}
$uicss .details-title h1{font-size:30px;line-height:1.5;color: $firstcolor$;color: $titlecolor$;}
$uicss .details-title .info{font-size:16px;color:$infocolor$;}
$uicss .details-title .info span{padding-right:10px;}
$uicss .met-page .pagination li a{color:$secondcolor$; color:$textcolor$;}
$uicss .page-link:focus,$uicss .page-link:hover{background-color: transparent;background-color:$pagebgcolor$ ; }
$uicss .met-editor {padding: 30px; width: 100%; max-width: 100%; word-wrap: break-word; }
$uicss .tag{font-size:14px;color: $firstcolor$;color:$titlecolor$;padding:0 30px 30px;}
$uicss .tag a{color: $firstcolor$;color:$titlecolor$;padding:5px;}
$uicss .tag a:hover{color:$thirdcolor$;color:$hovercolor$;}
$uicss .met-page{padding-top:0 !important;}
$uicss .met-page a:hover{color:$thirdcolor$ !important;color:$hovercolor$ !important;}
$uicss .met-page .pagination li a{white-space: nowrap;text-overflow: ellipsis; overflow: hidden;}
@media (min-width:768px){
  $uicss.met-shownews.right .met-shownews-body{float: right;}
  $uicss.met-shownews.right .met-sidebar{margin-left: 0px;margin-right: 30px;}
}
@media (max-width:1440px){
    $uicss .details-title h1{font-size:24px;}
}
@media (max-width:767px){
    $uicss .details-title{padding:15px 10px;}
    $uicss .details-title h1{font-size:22px;}
    $uicss .details-title .info{font-size:14px;}
    $uicss.met-shownews{padding: 15px 0px;}
    $uicss .sm0{margin: 0px;}
    $uicss .met-editor{padding: 15px;}
    $uicss .met-page{padding-bottom: 15px !important;}
    $uicss .met-page>.container{padding-top: 15px !important;}
}
@media (max-width:349px){
    $uicss .details-title h1{font-size:20px;}
}